h2.main-menu__header='Main menu'

ul.main-menu
    label
        li.main-menu__chat
            a(href='/chat')='Chat'
    label
        li.main-menu__news
            a(href='#')='News'
    label
        li.main-menu__video
            a(href='#')='Video'
    label
        li.main-menu__audio
            a(href='#')='Audio'